<template lang="pug">
.hello
  v-container(fill-height grid-list-xl)
    v-layout(row wrap text-xs-center)
      v-flex(xs12 sm4 justify-space-around)
        h1.mb-2 {{ msg }}
        img.my-2(src="../assets/theoriginalstooges.jpg" width="100%")
        h2 Fubars a Gogo
        h3 Make This Tab Group Responsive

      v-flex(xs12 md4 justify-space-around)

        h1.mb-2 {{ msg }}
        img.my-2(src="../assets/theoriginalstooges.jpg" width="100%")
        h2 Fubars a Gogo
        h3 Make This Tab Group Responsive

      v-flex(xs12 md4 justify-space-around)

        h1.mb-2 {{ msg }}
        img.my-2(src="../assets/theoriginalstooges.jpg" width="100%")
        h2 Fubars a Gogo
        h3 Make This Tab Group Responsive
</template>

<script>
export default {
  name: 'Adeus',
  data () {
    return {
      msg: 'De Stultorum Trinitate'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
